@page "/"

<PageTitle>Magnet Simulator</PageTitle>

<div>
    <button @onclick="ToggleSimulation">@(_isSimulationRunning ? "Pause Simulation" : "Start Simulation")</button>
    <button @onclick="ToggleVisualizationMode">@(_showCoils ? "Show Cylinders" : "Show Coils")</button>
</div>
<div class="canvas-container">
    <canvas id="threejs-canvas"></canvas>
</div>