@page "/"

<PageTitle>Magnet Simulator</PageTitle>

<div class="simulation-container">
    <div class="canvas-container">
        <canvas id="threejs-canvas"></canvas>
    </div>
</div>

<button @onclick="StartSimulation">Start Simulation</button>
<button @onclick="ToggleVisualization">Toggle Visualization</button>